[[source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[packages]
django = "*"
mysqlclient = "*"
djangorestframework-jwt = "*"
djangorestframework = "*"
numpy = "*"
pandas = "*"
django-cors-headers = "*"
pillow = "*"
pymysql = "*"
django-simple-captcha = "*"
cryptography = "*"
sklearn = "*"
lightgbm = "*"
catboost = "*"

[dev-packages]

[requires]
python_version = "3.9"
